<html ng-app="survey">
  <head>
    <title>Survey</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/QuestionsController.js"></script>
    <script src="controllers/ResultsController.js"></script>

    <script src="services/SurveyFactory.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row" ng-controller="QuestionsCtrl">
        <div class="col-md-12">

          <form ng-submit='SurveyFactory.addFavoriteColor()' class='form-inline' role='form'>
            <div class='form-group'>
              <label for="favorite-color">What is your favorite color?</label>
              <input type="text" ng-model="SurveyFactory.favoriteColor" class='form-control' id='favorite-color'>
              <button class="btn btn-default btn-sm" type='submit'>Answer</button>
            </div>
          </form>


          <form ng-submit='SurveyFactory.addFavoriteFood()' class='form-inline' role='form'>
            <div class='form-group'>
              <label for="favorite-food">What is your favorite food?</label>
              <input type="text" ng-model="SurveyFactory.favoriteFood" class='form-control' id='favorite-food'>
              <button class="btn btn-default btn-sm" type='submit'>Answer</button>
            </div>
          </form>
        </div>
      </div>
      <div class='row' ng-controller='ResultsCtrl'>
        <div class='col-md-6'>

        </div>
      </div>
    </div>
  </body>
</html>
